@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');


body {
  margin: 0;
  font-family:'Jost', sans-serif;
  font-size:20px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (max-width: 768px) {
  html, body {
    font-size: 16px; /* slightly smaller on mobile */
  }
}

@media (min-width: 1200px) {
  html, body {
    font-size: 20px; /* larger on big screens */
  }
}
